body {
  background: #ddd url("../images/bground.jpg");
  margin-left: 150px;
  margin-right: 150px;
}
.main-div {
  background: #ddd url("../images/grey_bg.jpg");
  background-color: #999;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.nav-main {
  background: #ddd url("../images/grey_bg.jpg");
  background-color: #999;
  margin-top: 50px;
  padding: 5px;
}
.nav-main ol li {
  width: 75px;
  display: inline-block;
  background-color: #aaa;
}
.nav-main a {
  text-decoration: none;
}
header {
  background: #ddd url("../images/grey_bg.jpg");
  text-align: center;
  background-color: #bbb;
  padding: 10px;
  margin-top: 15px;
}
header img {
  vertical-align: middle;
}
footer {
  background: #ddd url("../images/grey_bg.jpg");
  text-align: center;
  background-color: #bbb;
  padding: 10px;
}
footer img {
  vertical-align: middle;
}
