body {
  background: #ddd url("../images/bground.jpg");
  margin-left: 150px;
  margin-right: 150px;
}
.main-div {
  background: #ddd url("../images/grey_bg.jpg");
  background-color: #999;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  overflow: hidden;
}
.nav-main {
  width: 15%;
  float: left;
  background: #ddd url("../images/grey_bg.jpg");
  background-color: #999;
  margin-top: 50px;
}
.nav-main ol li {
  width: 75px;
  list-style-type: none;
}
.nav-main a {
  color: #555;
  text-decoration: none;
}
.nav-main a:hover {
  color: #888;
}
header {
  background: #ddd url("../images/grey_bg.jpg");
  text-align: center;
  background-color: #bbb;
  padding: 10px;
  margin-top: 15px;
}
header img {
  vertical-align: middle;
}
footer {
  background: #ddd url("../images/grey_bg.jpg");
  text-align: center;
  background-color: #bbb;
  padding: 10px;
}
footer img {
  vertical-align: middle;
}
