body {
  background: #ddd url("../images/bground.jpg");
  margin-left: 150px;
  margin-right: 150px;
}
.main-content {
  background: #ddd url("../images/grey_bg.jpg");
  background-color: #999;
  padding: 30px;
  margin: 50px 0 50px 180px;
  overflow: hidden;
  border-radius: 6px;
}
.main-content img {
  min-width: 250px;
  max-width: 100%;
}
.nav-main {
  width: 150px;
  float: left;
  background: #ddd url("../images/grey_bg.jpg");
  background-color: #999;
  margin-top: 50px;
  border-radius: 6px;
}
.nav-main ol li {
  width: 75px;
  list-style-type: none;
}
.nav-main a {
  color: #444;
  text-decoration: none;
}
.nav-main a:hover {
  color: #888;
}
.menu-button {
  display: block;
  background: linear-gradient(25deg, #555, #aaa);
  width: 75px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  text-shadow: 1px 1px #000;
}
.menu-button:last-child {
  transform: rotate(-3deg);
}
header {
  background: #ddd url("../images/grey_bg.jpg");
  text-align: center;
  background-color: #bbb;
  padding: 10px;
  margin-top: 15px;
  border-radius: 0 0 6px 6px;
}
header img {
  vertical-align: middle;
}
.box {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.box:hover {
  box-shadow: 1px 1px #333;
}
.first {
  background-color: #000;
}
.second {
  background-color: #111;
}
.third {
  background-color: #222;
}
.fourth {
  background-color: #333;
}
.fifth {
  background-color: #444;
}
.sixth {
  background-color: #555;
}
.seventh {
  background-color: #666;
}
.eighth {
  background-color: #777;
}
.nineth {
  background-color: #888;
}
.tenth {
  background-color: #999;
}
.crawl {
	-webkit-animation: crawl 4s;
}
.dangle {
	-webkit-animation: dangle 4s;
}
.jump {
	-webkit-animation: jump 4s;
}
.stretch {
	-webkit-animation: stretch 4s;
}
.flip {
	-webkit-animation: flip 4s;
}
footer {
  background: #ddd url("../images/grey_bg.jpg");
  text-align: center;
  background-color: #bbb;
  padding: 10px;
  border-radius: 6px 6px 0 0;
}
footer img {
  vertical-align: middle;
}
/*---registration.html styles---*/
#main-container {
  margin: auto;
  max-width: 1024px;
  background-color: #9922f2;
  text-align: center;
  border-style: solid;
  border-radius: 1px;
}
.links {
  display: block;
}
#signup-form {
    background-color: #999;
    text-align: center;
    margin: auto;
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
}
#signup-form h1 {
	color: #444;
	text-shadow: 3px 3px #888;
}
#signup-form a {
  color: #444;
  text-decoration: none;
}
#signup-form a:hover {
  color: #666;
}
.warning {
  display: none;
  font-size: 12px;
  color: #bb3333;
}
.success {
  display: none;
}
@media screen and (max-width: 1000px) {
  body {
    margin: 0 100px;
  }
  p {
    color:red;
  }
}
@media screen and (max-device-width: 750px) {
  body {
    font-size: 1.5em;
    margin: 0 50px;
  }
  nav input {
    float: right;
    margin: 15px;
    font-size: 2em;
  }
  .menu-button {
    display: none;
  }
  .main-content img {
    display: none;
  }
  .main-content {
    margin: 0 0 20px 0;
    background: none;
    background-color: #ccc;
  }
  p {
    color: green;
  }
  .nav-main {
    float: none;
    width: 100%;
    margin: 15px 0 0 0;
  }
  .nav-main ol li {
    font-size: 2em;
    display: block;
  }
  #signup-form {
    min-width: 450px;
  }
  #signup-form label {
    font-size: 2em;
    color: #333;
  }
  #signup-form h1 {
    font-size: 3em;
  }
  #signup-form input {
    width: 190px;
    height: 50px;
    font-size: 1.7em;
  }
  .warning {
    font-size: 1.5em;
  }
}
@-webkit-keyframes crawl {
	12%, 15%, 18%, 20% {-webkit-transform: translateY(400px);}

	0% {-webkit-transform: translateY(0px);}
	10% {-webkit-transform: translateY(410px);}
	14% {-webkit-transform: translateY(370px);}
	16% {-webkit-transform: translateY(410px);}

	25% {height: 100px; -webkit-transform: translateY(400px);}
	30% {height: 50px; -webkit-transform: translateY(400px);}
	35% {height: 100px; -webkit-transform: translateY(350px);}
	40% {height: 50px; -webkit-transform: translateY(350px);}
	45% {height: 100px; -webkit-transform: translateY(300px);}
	50% {height: 50px; -webkit-transform: translateY(300px);}
	55% {height: 100px; -webkit-transform: translateY(250px);}
	60% {height: 50px; -webkit-transform: translateY(250px);}
	65% {height: 100px; -webkit-transform: translateY(200px);}
	70% {height: 50px; -webkit-transform: translateY(200px);}
	75% {height: 100px; -webkit-transform: translateY(150px);}
	80% {height: 50px; -webkit-transform: translateY(150px);}
	85% {height: 100px; -webkit-transform: translateY(100px);}
	90% {height: 50px; -webkit-transform: translateY(100px);}
	95% {height: 100px; -webkit-transform: translateY(50px);}
	98% {height: 50px; -webkit-transform: translateY(50px);}
	100% {-webkit-transform: translateY(0px);}
}

@-webkit-keyframes dangle {

	0% { -webkit-transform: rotate(0);
		 -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out;
		 box-shadow: 1px 1px 4px #333; z-index: 50; }
	10% { -webkit-transform: rotate(80deg);
		  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	20% { -webkit-transform: rotate(30deg);
		  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	30% { -webkit-transform: rotate(60deg);
	 	  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	40% { -webkit-transform: rotate(50deg) translateY(0);
		  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	50% { -webkit-transform: translateY(2000px); }
	75% { -webkit-transform: translateY(0px); }
	100% { -webkit-transform: translateY(0px); }
}

@-webkit-keyframes jump {
	0% { -webkit-transform: translateY(0); }
	7% { -webkit-transform: translateY(-50px) scale(0.7); }
	50% { -webkit-transform: translateY(2000px) scale(0.7);
		  opacity: 1; }
	51% { opacity: 0; }
	52% { -webkit-transform: translateY(-2000px);
		  opacity: 0; }
	90% { -webkit-transform: translateY(-100px);
		  opacity: 1; }
	100% { -webkit-transform: translateY(0); }
}

@-webkit-keyframes stretch {
	0% { }
	30% { height: 2000px; -webkit-transform: translateY(0); }
	50% { -webkit-transform: translateY(2000px);
		  -webkit-animation-timing-function: ease-out; }
	70% { -webkit-transform: translateY(2000px); }
	80% { height: 100px; -webkit-transform: translateY(-150px); }
	85% { -webkit-transform: translateY(100px); }
	90% { -webkit-transform: translateY(-50px); }
	94% { -webkit-transform: translateY(40px); }
	96% { -webkit-transform: translateY(-10px); }
	98% { -webkit-transform: translateY(5px); }
	100% { -webkit-transform: translateY(0px); }
}

@-webkit-keyframes flip {
	0% { -webkit-transform: rotateY(0) translateY(0px) scale(1.5);
		 box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		 z-index: 100; }
	50% { -webkit-transform: rotateY(2000deg) translateY(2000px); }
}
